<nav class=" px-32 shadow-lg fix w-full fixed top-0 left-0 right-0 z-50 bg-white">
  <div class="container mx-auto flex items-center justify-between p-4">
    <div class="flex items-center gap-4">
      <span class="font-bold text-xl tracking-widest">Mon Portfolio</span>
    </div>

    <ul class="flex items-center gap-10">
      <li class="link" routerLink="/home" routerLinkActive="bg-gray-800 text-white"><a>Home</a></li>
      <li class="link" routerLink="/work" routerLinkActive="bg-gray-800 text-white"><a >Project</a></li>
      <li class="link" routerLink="/contact" routerLinkActive="bg-gray-800 text-white"><a >Contact</a></li>
    </ul>
  </div>
</nav>
