<div class="p-5">

      <div class="mb-6 flex">
        <div class="w-8 h-8 bg-white rounded-full flex items-center justify-center mr-4">
          <i class="fas fa-laptop-code text-blue-500"></i>
        </div>
        <div>
          <h3 class="text-xl font-semibold mb-2 text-blue-500">Programming Languages</h3>
          <p class="text-gray-200">HTML , CSS, Java , Python , JavaScript , TypeScript</p>
        </div>
      </div>

      <div class="mb-6 flex">
        <div class="w-8 h-8 bg-white rounded-full flex items-center justify-center mr-4">
          <i class="fas fa-cogs text-green-500"></i>
        </div>
        <div>
          <h3 class="text-xl font-semibold mb-2 text-green-500">Frameworks</h3>
          <p class="text-gray-200">Bootstrap , Tailwind CSS , Angular , Spring , Hibernate</p>
        </div>
      </div>

      <div class="mb-6 flex">
        <div class="w-8 h-8 bg-white rounded-full flex items-center justify-center mr-4">
          <i class="fas fa-database text-orange-500"></i>
        </div>
        <div>
          <h3 class="text-xl font-semibold mb-2 text-orange-500">Databases</h3>
          <p class="text-gray-200">MySQL , SQLite , MongoDB , Oracle</p>
        </div>
      </div>

      <div class="mb-6 flex">
        <div class="w-8 h-8 bg-white rounded-full flex items-center justify-center mr-4">
          <i class="fas fa-tools text-gray-400"></i>
        </div>
        <div>
          <h3 class="text-xl font-semibold mb-2 text-gray-400">Tools & Others</h3>
          <p class="text-gray-200">Git , GitHub , Illustrator , Autocad , Ms Office</p>
        </div>
      </div>

</div>

