<div class="relative p-85 rounded-md shadow-md text-white">


  <h2 class="text-2xl font-semibold mb-4">
    <i class="fas fa-wrench mr-2 text-blue-500"></i> Hydraulic Expert &nbsp;
    <i class="fas fa-laptop-code mr-2 text-purple-500"></i> Passionate about Web Development
  </h2>

  <p class="text-lg mb-6 ml-5">
    <i class="fa-solid fa-folder mr-4 text-green-300"></i> Strong skills in project management and problem-solving ;<br>
    <i class="fa-brands fa-stack-exchange mr-4 text-indigo-300"></i> Ability to collaborate effectively in team environments ;<br>
    <i class="fa-solid fa-business-time mr-3 text-orange-300"></i> Ready to invest time and effort to develop IT skills ;<br>
    <i class="fa-solid fa-briefcase mr-4 text-yellow-300"></i> Brings a unique perspective and strong work ethic .
  </p>

  <p class="text-lg mb-4">
    <i class="fas fa-arrow-right text-blue-300 mr-2"></i> Aspiring to an exciting transition to the world of IT.
  </p>

  <div class="flex space-x-4 mt-10">
    <button class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded transition duration-300 ease-in-out">
      <i class="fas fa-download mr-2"></i> Download my CV
    </button>
    <button class="bg-yellow-500 hover:bg-yellow-600 px-4 py-2 rounded transition duration-300 ease-in-out">
      <i class="fas fa-envelope mr-2"></i> Contact Me
    </button>
  </div>

</div>
