<div class="home-body">

              <div class="home bg-gradient-to-b from-gray-800 to-gray-900 text-white py-16 rounded shadow-md">

                <div class="flex flex-col items-center gap-5">

                  <p class="text-2xl text-center">Thank you for taking the time to visit my portfolio.
                    I am delighted to share my work with you and discuss our common passions.</p>

                  <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="w-32 h-32 rounded-full shadow-lg" alt="Avatar" />

                  <div class="flex justify-center items-center gap-4 mt-8">
                    <button class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-full focus:outline-none transition duration-300 ease-in-out" (click)="downloadCV()">Download my CV</button>
                  </div>

                  <div class="flex space-x-4 text-3xl mt-8">
                    <a href="#" class="hover:text-blue-400 transition duration-200">
                      <i class="fab fa-square-facebook"></i>
                    </a>

                    <a href="#" class="hover:text-pink-400 transition duration-200">
                      <i class="fab fa-square-instagram"></i>
                    </a>

                    <a href="#" class="hover:text-cyan-400 transition duration-200">
                      <i class="fab fa-linkedin"></i>
                    </a>

                    <a href="#" class="hover:text-gray-400 transition duration-200">
                      <i class="fab fa-square-github"></i>
                    </a>
                  </div>

                </div>
              </div>



      <div class="px-24 flex justify-evenly items-center py-2 bg-gradient-to-b from-gray-800 to-gray-900 rounded shadow-md">
            <a class="text-blue-500 text-4xl"><i class="fa-brands fa-html5"></i></a>
            <a class="text-orange-500 text-4xl"> <i class="fa-brands fa-css3-alt"></i></a>
            <a class="text-yellow-500 text-4xl"><i class="fa-brands fa-square-js"></i></a>
            <a class="text-red-500 text-4xl"><i class="fa-brands fa-angular"></i></a>
      </div>


      <div class="px-16 flex justify-center items-center py-10 bg-gradient-to-b from-gray-800 to-gray-900 rounded shadow-md">

        <div class="flex justify-center items-center gap-10 flex-col">
          <h1 class="text-white font-extrabold text-4xl border-l-4 pl-3 ">MY EXPERTISE</h1>
          <p class="text-white text-center">I am an adept web developer skilled in crafting dynamic
             and user-friendly web applications using a diverse set of technologies and
             frameworks, ensuring a seamless and engaging online experience.</p>

             <div class="grid grid-cols-3 gap-10" >
              <!-- Carte 1 -->
              <div class="{{card.class}}" *ngFor="let card of cards">
                <i class="{{card.icon}} text-3xl "></i>
                <h2 class="text-lg font-semibold ">{{card.title}}</h2>
                <p class="text-gray-400 ">HTML, CSS, Bootstrap, Tailwind CSS</p>
                <p class="text-justify">{{card.description}}</p>
                  <button class="cardButton">
                    <i class="fas fa-info-circle mr-2"></i> More Information
                  </button>
              </div>





            </div>

        </div>
      </div>
</div>



